ul{
    list-style: inside;
    margin-left: 113px;
    line-height: normal;
    font-size: 21px;

}
h2{
    margin: 32px 104px;
    display: block;
    color: crimson;
    font-size: -webkit-xxx-large;

}
h1{

    margin: 32px 104px;
    display: block;
    color: crimson;
    font-size: -webkit-xxx-large;
}
table, th, td {
    border: 1px solid black;
  }
   
